<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kt.triggerword">

    <application>
        <service android:name="ai.kt.triggerword.TriggerBindService" />
        <service android:name="ai.kt.triggerword.TriggerService" />

        <receiver
            android:name="ai.kt.triggerword.TriggerBroadCast"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>